/* customCards.css */
.custom-cards-container {
    display: flex;
    justify-content: space-around;
  }
  
  .custom-card {
    width: 200px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .leave-requests {
    background-color: #ffcccb;
  }
  
  .rejected-leave {
    background-color: #ff9999;
  }
  
  .approved-leave {
    background-color: #99ff99;
  }
  
  .custom-card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .custom-card-value {
    font-size: 24px;
  }
  